[submodule "extern/tracy"]
	path = extern/tracy
	url = https://github.com/wolfpld/tracy
[submodule "extern/cgltf"]
	path = extern/cgltf
	url = https://github.com/jkuhlmann/cgltf
[submodule "extern/clay"]
	path = extern/clay
	url = https://github.com/nicbarker/clay.git
[submodule "engine/extern/faiss"]
	path = engine/extern/faiss
	url = https://github.com/facebookresearch/faiss.git
